target/
logs/
repository/
*.lock
*.komodoproject
.DS_Store
project/boot/
framework/project/boot/
documentation/api
workspace/
framework/sbt/boot
.history
.idea
RUNNING_PID
.classpath
.project
.settings/
.target/
.cache
*.iml
documentation/*.pdf
framework/test/integrationtest-java/conf/evolutions/
generated.keystore
generated.truststore
*.log
*.pyc
.venv*
build
dist
project/typesafe.properties
akka-diagnostics
.python-version

# Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.cache-main
.cache-tests
